@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

main {
  min-height: calc(100vh - 67px);
  height: 100%;
}
main > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: calc(100vh - 67px);
}
main > .content > .left {
  width: 18%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
main > .content > .left.close {
  width: 0%;
}
main > .content > .right {
  width: 87%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #eff1f6;
  padding: 15px;
}
main > .content > .right.scale {
  width: 100%;
}

@media (max-width: 991px) {
  main {
    position: relative;
  }
  main > .content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(9, 9, 9, 0.6);
    z-index: 5;
    display: none;
  }
  main > .content.open-shadow::before {
    display: block;
  }
  main > .content > .left {
    width: 0;
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    z-index: 10;
  }
  main > .content > .left.close {
    width: 30%;
    right: 0;
  }
  main > .content > .right {
    width: 100%;
  }
}
@media (max-width: 600px) {
  main .content > .left.close {
    width: 250px;
  }
}
.dropdown .dropdown-menu {
  text-align: right;
}

.navbar_section {
  padding: 10px 20px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar_section .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.navbar_section .left .icon_sidebar {
  font-size: 22px;
  cursor: pointer;
}
.navbar_section .left .logo h3 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #324664;
  margin-bottom: 0;
}
.navbar_section .left .logo img {
  width: 150px;
}
.navbar_section .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.navbar_section .right .dropdown_lang {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 3px;
  border-radius: 5px;
}
.navbar_section .right .dropdown_lang:hover {
  background-color: rgb(233, 233, 233);
}
.navbar_section .right .dropdown_lang button {
  border: none;
  background-color: transparent;
  background-color: #1362fc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar_section .right .dropdown_lang button:after {
  display: none;
}
.navbar_section .right .dropdown_lang button i {
  font-size: 20px;
  color: white;
}
.navbar_section .right .dropdown_lang .dropdown-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
}
.navbar_section .right .dropdown_lang .dropdown-menu li a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.navbar_section .right .dropdown_profile {
  padding: 3px;
  border-radius: 5px;
}
.navbar_section .right .dropdown_profile:hover {
  background-color: rgb(233, 233, 233);
}
.navbar_section .right .dropdown_profile button {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.navbar_section .right .dropdown_profile button:after {
  display: none;
}
.navbar_section .right .dropdown_profile button img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar_section .right .dropdown_profile button .text h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.navbar_section .right .dropdown_profile button .text span {
  font-size: 12px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  display: block;
  color: gray;
}
.navbar_section .right .dropdown_profile .dropdown-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 13px;
  font-weight: 500;
}
.navbar_section .right .dropdown_profile .dropdown-menu li a i {
  color: #1362fc;
}

@media (max-width: 768px) {
  .navbar_section {
    padding: 6px 10px;
  }
  .navbar_section .left .icon_sidebar {
    font-size: 18px;
  }
  .navbar_section .left .logo {
    display: none;
  }
  .navbar_section .right {
    gap: 15px;
  }
  .navbar_section .right .dropdown_lang button i {
    font-size: 17px;
  }
  .navbar_section .right .dropdown_profile button {
    font-size: 14px;
  }
  .navbar_section .right .dropdown_profile button i {
    font-size: 16px;
  }
}
.sidebar {
  background-color: white;
  height: 100%;
  color: #526484;
  padding: 0 10px 10px;
  border-left: 1px solid #e6e6e6;
}
.sidebar .items {
  padding-top: 20px;
}
.sidebar .items .mini_list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 8px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: inherit !important;
  border-radius: 10px;
  margin-bottom: 5px;
}
.sidebar .items .mini_list .item:hover {
  background-color: #598ff9;
  color: white !important;
}
.sidebar .items .mini_list .item.active {
  background-color: #598ff9;
  color: white !important;
}
.sidebar .items .mini_list .item i {
  font-size: 20px;
}
.sidebar .items .mini_list .item i.arrow {
  font-size: 14px;
}
.sidebar .items .mini_list .item span {
  font-size: 19px;
  font-weight: 600;
}
.sidebar .items .mini_list .list {
  padding-right: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar .items .mini_list .list.open {
  height: auto;
}
.sidebar .items .mini_list .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}
.sidebar .items .mini_list .list li:hover span {
  width: 20px;
}
.sidebar .items .mini_list .list li:not(:last-child) {
  margin-bottom: 8px;
}
.sidebar .items .mini_list .list li span {
  width: 10px;
  height: 2px;
  border-radius: 20px;
  background-color: #526484;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sidebar .items .mini_list .list li a {
  color: #526484;
}

.overflow {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 5;
  display: none;
}
.overflow.active {
  display: block;
}

.add_client,
.popup_filter,
.add_message,
.add_courses,
.popup_collage {
  position: fixed;
  max-width: 550px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}
.add_client.active,
.popup_filter.active,
.add_message.active,
.add_courses.active,
.popup_collage.active {
  display: block;
}
.add_client .head,
.popup_filter .head,
.add_message .head,
.add_courses .head,
.popup_collage .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.add_client .head h3,
.popup_filter .head h3,
.add_message .head h3,
.add_courses .head h3,
.popup_collage .head h3 {
  margin-bottom: 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #324664;
}
.add_client .head h3 span,
.popup_filter .head h3 span,
.add_message .head h3 span,
.add_courses .head h3 span,
.popup_collage .head h3 span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(226, 132, 45, 0.3058823529);
}
.add_client .head h3 span i,
.popup_filter .head h3 span i,
.add_message .head h3 span i,
.add_courses .head h3 span i,
.popup_collage .head h3 span i {
  color: #e2852d;
  font-size: 17px;
}
.add_client .head i,
.popup_filter .head i,
.add_message .head i,
.add_courses .head i,
.popup_collage .head i {
  font-size: 20px;
  cursor: pointer;
}
.add_client form,
.popup_filter form,
.add_message form,
.add_courses form,
.popup_collage form {
  padding: 10px 15px;
}
.add_client form .input_item,
.popup_filter form .input_item,
.add_message form .input_item,
.add_courses form .input_item,
.popup_collage form .input_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.add_client form .input_item label,
.popup_filter form .input_item label,
.add_message form .input_item label,
.add_courses form .input_item label,
.popup_collage form .input_item label {
  font-size: 15px;
  font-weight: 500;
  color: #324664;
}
.add_client form .input_item input,
.add_client form .input_item select,
.add_client form .input_item textarea,
.popup_filter form .input_item input,
.popup_filter form .input_item select,
.popup_filter form .input_item textarea,
.add_message form .input_item input,
.add_message form .input_item select,
.add_message form .input_item textarea,
.add_courses form .input_item input,
.add_courses form .input_item select,
.add_courses form .input_item textarea,
.popup_collage form .input_item input,
.popup_collage form .input_item select,
.popup_collage form .input_item textarea {
  border: 1px solid rgb(195, 195, 195);
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
}
.add_client form .input_item textarea,
.popup_filter form .input_item textarea,
.add_message form .input_item textarea,
.add_courses form .input_item textarea,
.popup_collage form .input_item textarea {
  height: 100px;
}
.add_client form .input_file span,
.popup_filter form .input_file span,
.add_message form .input_file span,
.add_courses form .input_file span,
.popup_collage form .input_file span {
  font-size: 15px;
  font-weight: 500;
}
.add_client form .input_file label,
.popup_filter form .input_file label,
.add_message form .input_file label,
.add_courses form .input_file label,
.popup_collage form .input_file label {
  padding: 8px;
  background: #eff1f6;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.add_client form .input_file input,
.popup_filter form .input_file input,
.add_message form .input_file input,
.add_courses form .input_file input,
.popup_collage form .input_file input {
  display: none;
}
.add_client form .input_checkbox,
.popup_filter form .input_checkbox,
.add_message form .input_checkbox,
.add_courses form .input_checkbox,
.popup_collage form .input_checkbox {
  margin-bottom: 10px;
}
.add_client form .input_checkbox label,
.popup_filter form .input_checkbox label,
.add_message form .input_checkbox label,
.add_courses form .input_checkbox label,
.popup_collage form .input_checkbox label {
  font-size: 15px;
  font-weight: 500;
  color: #324664;
}
.add_client form .input-group,
.popup_filter form .input-group,
.add_message form .input-group,
.add_courses form .input-group,
.popup_collage form .input-group {
  direction: ltr;
}
.add_client form .input-group .input-group-text,
.popup_filter form .input-group .input-group-text,
.add_message form .input-group .input-group-text,
.add_courses form .input-group .input-group-text,
.popup_collage form .input-group .input-group-text {
  position: relative;
}
.add_client form .input-group .input-group-text::after,
.popup_filter form .input-group .input-group-text::after,
.add_message form .input-group .input-group-text::after,
.add_courses form .input-group .input-group-text::after,
.popup_collage form .input-group .input-group-text::after {
  content: "filter";
  margin-left: 5px;
  color: #324664;
  font-weight: 500;
}
.add_client form .btn_add,
.popup_filter form .btn_add,
.add_message form .btn_add,
.add_courses form .btn_add,
.popup_collage form .btn_add {
  background-color: #1362fc;
  padding: 7px;
  color: white;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  width: 100%;
}

@media (max-width: 768px) {
  .add_client .head,
.popup_filter .head,
.add_message .head,
.add_courses .head {
    padding: 6px 10px;
  }
  .add_client .head h3,
.popup_filter .head h3,
.add_message .head h3,
.add_courses .head h3 {
    font-size: 17px;
    gap: 6px;
  }
  .add_client .head h3 span,
.popup_filter .head h3 span,
.add_message .head h3 span,
.add_courses .head h3 span {
    width: 30px;
    height: 30px;
  }
  .add_client .head h3 span i,
.popup_filter .head h3 span i,
.add_message .head h3 span i,
.add_courses .head h3 span i {
    font-size: 15px;
  }
  .add_client .head i,
.popup_filter .head i,
.add_message .head i,
.add_courses .head i {
    font-size: 18px;
  }
  .add_client form,
.popup_filter form,
.add_message form,
.add_courses form {
    padding: 10px 13px;
  }
  .add_client form .row .col-6,
.popup_filter form .row .col-6,
.add_message form .row .col-6,
.add_courses form .row .col-6 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .add_client form .input_item label,
.popup_filter form .input_item label,
.add_message form .input_item label,
.add_courses form .input_item label {
    font-size: 13px;
  }
  .add_client form .input_item input,
.add_client form .input_item textarea,
.popup_filter form .input_item input,
.popup_filter form .input_item textarea,
.add_message form .input_item input,
.add_message form .input_item textarea,
.add_courses form .input_item input,
.add_courses form .input_item textarea {
    padding: 3px 5px;
    font-size: 13px;
  }
  .add_client form .input_item textarea,
.popup_filter form .input_item textarea,
.add_message form .input_item textarea,
.add_courses form .input_item textarea {
    height: 60px;
  }
  .add_client form .btn_add,
.popup_filter form .btn_add,
.add_message form .btn_add,
.add_courses form .btn_add {
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
  }
}
.content_dashboard {
  padding-top: 20px;
}
.content_dashboard .mini_boxs_dashboard {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 30px;
}
.content_dashboard .mini_boxs_dashboard .mini_box {
  padding: 25px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content_dashboard .mini_boxs_dashboard .mini_box:nth-child(1) {
  background: linear-gradient(45deg, #59bcff 21%, #59d7ff 100%);
}
.content_dashboard .mini_boxs_dashboard .mini_box:nth-child(2) {
  background: linear-gradient(45deg, #4ad994 0%, #57f998 100%);
}
.content_dashboard .mini_boxs_dashboard .mini_box:nth-child(3) {
  background: linear-gradient(45deg, #fdb765 0%, #ffe485 100%);
}
.content_dashboard .mini_boxs_dashboard .mini_box:nth-child(4) {
  background: linear-gradient(45deg, #ff6d59 0%, #ffd584 100%);
}
.content_dashboard .mini_boxs_dashboard .mini_box i {
  font-size: 50px;
  color: white;
}
.content_dashboard .mini_boxs_dashboard .mini_box .text h3 {
  font-size: 35px;
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}
.content_dashboard .mini_boxs_dashboard .mini_box .text span {
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  .content_dashboard {
    padding-top: 10px;
  }
  .content_dashboard .mini_boxs_dashboard {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 15px;
  }
  .content_dashboard .mini_boxs_dashboard .mini_box {
    padding: 10px 15px;
  }
  .content_dashboard .mini_boxs_dashboard .mini_box i {
    font-size: 30px;
  }
  .content_dashboard .mini_boxs_dashboard .mini_box .text {
    text-align: center;
  }
  .content_dashboard .mini_boxs_dashboard .mini_box .text h3 {
    font-size: 22px;
    font-weight: 600;
  }
  .content_dashboard .mini_boxs_dashboard .mini_box .text span {
    font-size: 16px;
  }
}
.table_container {
  height: 100%;
}
.table_container.subscribers_table_container, .table_container.unsubscribers_table_container {
  height: auto;
}
.table_container.unsubscribers_table_container {
  margin-top: 40px;
}
.table_container .content .toolbar_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(26, 26, 26);
  color: white;
  display: none;
}
.table_container .content .toolbar_table p {
  margin-bottom: 0;
  padding: 0 10px;
}
.table_container .content .toolbar_table .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table_container .content .toolbar_table .btns .btn_filter,
.table_container .content .toolbar_table .btns .btn_relaod {
  padding: 7px;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}
.table_container .content .toolbar_table .btns .btn_filter::before,
.table_container .content .toolbar_table .btns .btn_relaod::before {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgb(169, 169, 169);
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.table_container .content .toolbar_table .btns .btn_filter:hover::before,
.table_container .content .toolbar_table .btns .btn_relaod:hover::before {
  opacity: 1;
}
.table_container .content .toolbar_table .btns .btn_filter::before {
  content: "تصفيه";
}
.table_container .content .toolbar_table .btns .btn_relaod::before {
  content: "تحميل";
}
.table_container .content .head_tabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding: 15px 10px;
}
.table_container .content .head_tabel .btn_add {
  background-color: #1362fc;
  color: white;
  font-weight: 600;
  padding: 7px 20px;
  border-radius: 4px;
  border: none;
}
.table_container .content .head_tabel .info_head_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.table_container .content .head_tabel .info_head_table .btn_filter {
  background-color: #1362fc;
  color: white;
  font-weight: 600;
  padding: 6px 20px;
  border-radius: 4px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.table_container .content .head_tabel .info_head_table .btn_filter i {
  font-size: 16px;
}
.table_container .content .head_tabel .info_head_table .btn_collage {
  background-color: #324664;
  color: white;
  font-weight: 600;
  padding: 6px 20px;
  border-radius: 4px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 15px;
  min-width: 140px;
}
.table_container .content .head_tabel .info_head_table .btn_collage i {
  font-size: 15px;
}
.table_container .content .head_tabel .search_input {
  border: 1px solid #c9cfd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  background: white;
}
.table_container .content .head_tabel .search_input input {
  border: none;
  outline: none;
  padding: 0 10px;
  width: 100%;
  background-color: transparent;
}
.table_container .content .head_tabel .search_input span {
  padding: 6px 10px;
}
.table_container .content .head_tabel .search_input span i {
  color: #8094ae;
}
.table_container .content table {
  width: 100%;
  text-align: center;
}
.table_container .content table thead tr {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05);
          box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05);
  border-bottom: 1px solid #e9eaeb;
}
.table_container .content table thead tr th {
  color: #8094ae;
  padding: 10px 0;
  min-width: 50px;
}
.table_container .content table thead tr th:nth-child(1) {
  border-radius: 5px;
}
.table_container .content table thead tr th:last-child {
  border-radius: 5px;
}
.table_container .content table thead tr th input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.table_container .content table tbody tr {
  background-color: white;
}
.table_container .content table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e9eaeb;
}
.table_container .content table tbody tr td {
  color: #8094ae;
  padding: 10px 0;
  min-width: 50px;
}
.table_container .content table tbody tr td:nth-child(1) {
  color: #0d6efd;
  border-radius: 5px;
}
.table_container .content table tbody tr td:last-child {
  border-radius: 5px;
  color: #ffc368;
}
.table_container .content table tbody tr td input[type=checkbox] {
  width: 15px;
  height: 15px;
}
.table_container .content table tbody tr td .contact {
  padding: 3px 10px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 13px;
}
.table_container .content table tbody tr td .contact.active {
  background-color: #c8f2d1;
  color: #37d159;
}
.table_container .content table tbody tr td .contact.offline {
  background-color: #ffd4cb;
  color: #ff6746;
}
.table_container .content table tbody tr td .btn_accept {
  background-color: #37d159;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  border: none;
  font-size: 15px;
}
.table_container .content .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}
.table_container .content .pagination p {
  margin-bottom: 0;
  font-size: 15px;
  color: gray;
}
.table_container .content .pagination .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table_container .content .pagination .btns button {
  border: none;
  background-color: transparent;
  color: #0d6efd;
  font-weight: 500;
  font-size: 16px;
  padding: 0px 10px;
  border-radius: 3px;
}
.table_container .content .pagination .btns button.active {
  background-color: #0d6efd;
  color: white;
}

@media (max-width: 768px) {
  .table_container {
    padding: 8px;
  }
  .table_container.unsubscribers_table_container {
    margin-top: 20px;
  }
  .table_container .content .head_section h4 {
    margin-bottom: 6px;
  }
  .table_container .content .head_tabel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding: 7px;
  }
  .table_container .content .head_tabel .dropdown_operations {
    width: 100%;
  }
  .table_container .content .head_tabel .dropdown_operations button {
    width: 100%;
    font-size: 15px;
    padding: 3px;
    border-radius: 4px;
  }
  .table_container .content .head_tabel .search_input {
    max-width: 100%;
  }
  .table_container .content .head_tabel .search_input input {
    font-size: 15px;
  }
  .table_container .content .head_tabel .search_input span {
    padding: 2px 8px;
    font-size: 15px;
  }
  .table_container .content .scroll_table {
    overflow-x: auto;
    width: 100%;
  }
  .table_container .content .scroll_table table {
    overflow-x: auto;
  }
  .table_container .content .scroll_table table thead tr th {
    padding: 4px 0;
    font-size: 15px;
  }
  .table_container .content .scroll_table table tbody tr td {
    padding: 8px 0;
    font-size: 14px;
    min-width: 150px;
  }
  .table_container .content .pagination {
    padding: 7px;
  }
  .table_container .content .pagination p {
    font-size: 12px;
  }
  .table_container .content .pagination .btns button {
    font-size: 12px;
    padding: 0px 8px;
  }
}
.add_section {
  background-color: white;
  border: 1px solid #e2e2e2;
  margin: 10px;
  border-radius: 7px;
}
.add_section .head {
  padding: 15px;
  border-bottom: 2px solid #cfcfcf;
}
.add_section .head h3 {
  font-size: 16px;
  color: #0d6efd;
  margin-bottom: 0;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.add_section .head h3::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: -17px;
  width: 130%;
  height: 2px;
  background-color: #0d6efd;
}
.add_section form {
  padding: 15px;
}
.add_section form .row {
  padding-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.add_section form .row .input_item {
  margin-bottom: 15px;
}
.add_section form .row .input_item label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #324664;
}
.add_section form .row .input_item input {
  padding: 5px;
  border-radius: 6px;
}
.add_section form .row .input_item select {
  font-size: 14px;
  color: #999999;
}
.add_section form .row .input_item #multiple-select {
  display: block;
  width: 100%;
  max-width: 100%;
}
.add_section form .row .input_item #multiple-select .vscomp-toggle-button {
  border-radius: 6px !important;
  font-size: 16px;
}
.add_section form .row .input_switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.add_section form .row .input_switch span {
  font-weight: 500;
  margin-bottom: 5px;
  color: #324664;
  display: block;
}
.add_section form .row .input_switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.add_section form .row .input_switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 22px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.add_section form .row .input_switch label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.add_section form .row .input_switch input:checked + label {
  background: #bada55;
}
.add_section form .row .input_switch input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.add_section form .row .input_switch label:active:after {
  width: 130px;
}
.add_section form .btns {
  padding: 15px 0 0;
  text-align: left;
}

@media (max-width: 768px) {
  .add_section {
    margin: 6px;
  }
  .add_section .head {
    padding: 7px;
  }
  .add_section .head h3 {
    font-size: 15px;
  }
  .add_section .head h3::before {
    right: -7px;
    bottom: -9px;
  }
  .add_section form {
    padding: 7px;
  }
  .add_section form .row {
    padding-bottom: 10px;
  }
  .add_section form .row .input_item {
    margin-bottom: 6px;
  }
  .add_section form .row .input_item label {
    margin-bottom: 3px;
    font-size: 14px;
  }
  .add_section form .row .input_item input {
    padding: 4px 8px;
    font-size: 15px;
  }
  .add_section form .row .input_item select {
    padding: 4px 2.25rem 4px 0.75rem;
    font-size: 15px;
  }
  .add_section form .btns {
    padding: 6px 0 0;
  }
  .add_section form .btns button {
    font-size: 13px;
    line-height: 13px;
    padding: 7px;
  }
}
.template_download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.template_download h4 {
  margin-bottom: 0;
}

.warning {
  padding: 20px !important;
  margin-bottom: 20px;
}
.warning li {
  font-size: 15px;
}
.warning li:last-of-type {
  margin-bottom: 10px;
}
.warning .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.warning .form-check input {
  width: 17px;
  height: 17px;
}

.import_from_excel {
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  display: none;
}
.import_from_excel.active {
  display: block;
}
.import_from_excel .head {
  border-bottom: 1px solid #cfcfcf;
  padding: 10px 15px;
}
.import_from_excel .head h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.import_from_excel .body {
  padding: 10px 7px;
}
.import_from_excel .body .input_file label {
  display: block;
  padding: 40px;
  text-align: center;
  border: 3px dashed #cfcfcf;
  color: #1362fc;
}

.head_section {
  color: #324664;
  margin-top: 15px;
}

.content_profile {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.content_profile .left {
  width: 35%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content_profile .left .main_info {
  text-align: center;
}
.content_profile .left .main_info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.content_profile .left .main_info h5 {
  font-size: 22px;
  margin-bottom: 0;
  color: #324664;
}
.content_profile .left .main_info span {
  color: #324664;
  font-size: 15px;
}
.content_profile .left .main_info .more_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.content_profile .left .main_info .more_info p {
  margin-bottom: 0;
  color: #324664;
  font-size: 15px;
}
.content_profile .left .main_info .btns {
  margin-top: 20px;
}
.content_profile .left .main_info .btns button {
  border: none;
  background-color: transparent;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
}
.content_profile .left .main_info .btns .btn_main {
  background-color: #1362fc;
}
.content_profile .left .main_info .btns .btn_main.remove {
  display: none;
}
.content_profile .left .main_info .btns .btn_info {
  background-color: #324664;
}
.content_profile .left .main_info .btns .btn_info.remove {
  display: none;
}
.content_profile .right {
  width: 65%;
  background-color: white;
  border-radius: 10px;
}
.content_profile .right h4 {
  font-size: 22px;
  margin-bottom: 0;
  border-bottom: 1px solid #dadada;
  color: #324664;
  padding: 15px;
}
.content_profile .right form {
  padding: 15px;
}
.content_profile .right form.change_password {
  display: none;
}
.content_profile .right form.change_password.active {
  display: block;
}
.content_profile .right form .input_item {
  margin-bottom: 10px;
}
.content_profile .right form .input_item label {
  font-weight: 500;
  color: #324664;
  margin-bottom: 4px;
}
.content_profile .right form .input_item input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #dadada;
}
.content_profile .right form .btn_update {
  border: none;
  background-color: #1362fc;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  font-weight: 500;
  display: none;
}
.content_profile .right form .btn_update.active {
  display: inline-block;
}
.content_profile .right form .btn_change {
  border: none;
  background-color: #1362fc;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .head_section {
    margin-top: 0;
  }
  .head_section h3 {
    font-size: 20px;
  }
  .content_profile {
    margin: 0;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_profile .left,
.content_profile .right {
    width: 100%;
  }
  .content_profile .left {
    padding: 10px;
  }
  .content_profile .left .main_info img {
    width: 110px;
    height: 110px;
    margin-bottom: 5px;
  }
  .content_profile .left .main_info h5 {
    font-size: 19px;
  }
  .content_profile .left .main_info > span {
    font-size: 13px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    display: block;
  }
  .content_profile .left .main_info .more_info {
    gap: 10px;
    margin-top: 0;
  }
  .content_profile .left .main_info .more_info p {
    font-size: 13px;
  }
  .content_profile .left .main_info .btns {
    margin-top: 5px;
  }
  .content_profile .left .main_info .btns button {
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 8px;
  }
  .content_profile .right h4 {
    font-size: 16px;
    padding: 10px;
  }
  .content_profile .right form {
    padding: 9px;
  }
  .content_profile .right form .input_item {
    margin-bottom: 5px;
  }
  .content_profile .right form .input_item label {
    font-size: 14px;
  }
  .content_profile .right form .input_item input {
    padding: 4px;
    font-size: 12px;
  }
}
.create_template .head_section {
  font-size: 23px;
  margin-bottom: 0;
}
.create_template .form_create_template {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.create_template .form_create_template h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.create_template .form_create_template form .input_item {
  margin-bottom: 15px;
}
.create_template .form_create_template form .input_item label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.create_template .form_create_template form .input_item input,
.create_template .form_create_template form .input_item textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cfcfcf;
  background: #eff1f6;
}
.create_template .form_create_template form .input_item textarea {
  height: 250px;
}
.create_template .form_create_template form .input_send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}
.create_template .form_create_template form .input_send span {
  background-color: #e1e7f5;
  width: 13%;
  padding: 10px 0;
  text-align: center;
  display: block;
}
.create_template .form_create_template form .input_send input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #eff1f6;
}
.create_template .form_create_template form .select_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.create_template .form_create_template form .btn_save {
  padding: 8px 25px;
  background-color: #324664;
  color: white;
  border: none;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .create_template .form_create_template {
    padding: 13px;
    margin-top: 5px;
  }
  .create_template .form_create_template h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .create_template .form_create_template form .input_item {
    margin-bottom: 5px;
  }
  .create_template .form_create_template form .input_item label {
    font-size: 16px;
    margin-bottom: 1px;
  }
  .create_template .form_create_template form .input_item input,
.create_template .form_create_template form .input_item textarea {
    padding: 2px 10px;
    font-size: 13px;
  }
  .create_template .form_create_template form .input_item textarea {
    height: 100px;
  }
  .create_template .form_create_template form .input_send {
    margin-bottom: 5px;
  }
  .create_template .form_create_template form .input_send span {
    padding: 2px 0;
    font-size: 10px;
  }
  .create_template .form_create_template form .input_send input {
    padding: 2px;
    font-size: 13px;
  }
  .create_template .form_create_template form .btn_save {
    padding: 4px 15px;
    font-size: 13px;
  }
}
.links_shortcut {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}
.links_shortcut .btns {
  margin-bottom: 10px;
}
.links_shortcut .btns button {
  padding: 4px 20px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 7px;
}
.links_shortcut .btns .btn_write {
  background-color: #324664;
}
.links_shortcut .btns .btn_write.remove {
  display: none;
}
.links_shortcut .btns .btn_upload_file {
  background-color: #1362fc;
  display: none;
}
.links_shortcut .btns .btn_upload_file.active {
  display: inline-block;
}
.links_shortcut .input_item {
  margin-bottom: 10px;
}
.links_shortcut .input_item label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.links_shortcut .input_item input,
.links_shortcut .input_item textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cfcfcf;
  background: #eff1f6;
}
.links_shortcut .input_item textarea {
  height: 250px;
}
.links_shortcut .form_upload_file.remove {
  display: none;
}
.links_shortcut .form_upload_file .input_item:nth-child(1) {
  overflow: hidden;
}
.links_shortcut .form_upload_file .input_item:nth-child(1) span {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
}
.links_shortcut .form_upload_file .input_item:nth-child(1) label {
  padding: 8px;
  background: #eff1f6;
  text-align: left;
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.links_shortcut .form_upload_file .input_item:nth-child(1) label::after {
  content: "استعراض";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e2e7f5;
}
.links_shortcut .form_write_links {
  display: none;
}
.links_shortcut .form_write_links.active {
  display: block;
}
.links_shortcut .btn_shortcut {
  padding: 8px 25px;
  background-color: #324664;
  color: white;
  border: none;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .head_section h4 {
    font-size: 18px;
    margin-bottom: 0;
  }
  .links_shortcut .btns button {
    padding: 3px 15px;
    font-size: 12px;
  }
  .links_shortcut .input_item {
    margin-bottom: 5px;
  }
  .links_shortcut .input_item label {
    font-size: 17px;
    margin-bottom: 2px;
  }
  .links_shortcut .input_item input,
.links_shortcut .input_item textarea {
    padding: 3px 7px;
  }
  .links_shortcut .input_item textarea {
    height: 100px;
  }
  .links_shortcut .form_upload_file.remove {
    display: none;
  }
  .links_shortcut .form_upload_file .input_item:nth-child(1) span {
    margin-bottom: 2px;
    font-size: 17px;
  }
  .links_shortcut .form_upload_file .input_item:nth-child(1) label {
    padding: 4px 10px;
  }
  .links_shortcut .form_upload_file .input_item:nth-child(1) label::after {
    font-size: 13px;
  }
  .links_shortcut .btn_shortcut {
    padding: 4px 15px;
    font-size: 14px;
    margin-top: 10px;
  }
}
.content_profile_student {
  margin-top: 20px;
}
.content_profile_student .head_profile_student {
  background-color: white;
  -webkit-box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
          box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
  padding: 20px 20px 0;
  border-radius: 15px;
  margin-bottom: 20px;
}
.content_profile_student .head_profile_student .background_head {
  height: 150px;
  background-color: #1362fc;
  border-radius: 10px;
  margin-bottom: 10px;
}
.content_profile_student .head_profile_student .main_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  padding-right: 20px;
}
.content_profile_student .head_profile_student .main_details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -o-object-fit: cover;
     object-fit: cover;
}
.content_profile_student .head_profile_student .main_details .text h4 {
  font-size: 20px;
  color: #324664;
  margin-bottom: 0;
}
.content_profile_student .head_profile_student .main_details .text span {
  color: gray;
  font-size: 15px;
}
.content_profile_student .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.content_profile_student .line .left {
  width: 60%;
}
.content_profile_student .line .right {
  width: 40%;
}
.content_profile_student .info_details_profile {
  background-color: white;
  -webkit-box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
          box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
  border-radius: 15px;
}
.content_profile_student .info_details_profile .head_info {
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 10px 20px;
}
.content_profile_student .info_details_profile .head_info h4 {
  color: #1362fc;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
}
.content_profile_student .info_details_profile .head_info h4::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1362fc;
}
.content_profile_student .info_details_profile .profile_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.content_profile_student .info_details_profile .bio.handle_width,
.content_profile_student .info_details_profile .Personal_information.handle_width {
  width: 50%;
}
.content_profile_student .info_details_profile .bio {
  padding: 20px 20px 10px;
}
.content_profile_student .info_details_profile .bio h5 {
  color: #1362fc;
  margin-bottom: 10px;
}
.content_profile_student .info_details_profile .bio p {
  color: gray;
}
.content_profile_student .info_details_profile .Personal_information {
  padding: 20px 20px 10px;
}
.content_profile_student .info_details_profile .Personal_information h5 {
  color: #1362fc;
  margin-bottom: 10px;
}
.content_profile_student .info_details_profile .Personal_information .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 15px;
}
.content_profile_student .info_details_profile .Personal_information .item h6 {
  color: #324664;
  margin-bottom: 0;
}
.content_profile_student .info_details_profile .Personal_information .item span {
  color: gray;
  font-size: 15px;
}
.content_profile_student .follow_up_links,
.content_profile_student .courses_student {
  background-color: white;
  -webkit-box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
          box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
  border-radius: 15px;
}
.content_profile_student .follow_up_links .head_links,
.content_profile_student .follow_up_links .head_courses,
.content_profile_student .courses_student .head_links,
.content_profile_student .courses_student .head_courses {
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 10px 20px;
}
.content_profile_student .follow_up_links .head_links h4,
.content_profile_student .follow_up_links .head_courses h4,
.content_profile_student .courses_student .head_links h4,
.content_profile_student .courses_student .head_courses h4 {
  color: #1362fc;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
}
.content_profile_student .follow_up_links .head_links h4::before,
.content_profile_student .follow_up_links .head_courses h4::before,
.content_profile_student .courses_student .head_links h4::before,
.content_profile_student .courses_student .head_courses h4::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1362fc;
}
.content_profile_student .follow_up_links .table_links,
.content_profile_student .follow_up_links .table_courses,
.content_profile_student .courses_student .table_links,
.content_profile_student .courses_student .table_courses {
  padding: 10px;
  margin-top: 10px;
}
.content_profile_student .follow_up_links .table_links table,
.content_profile_student .follow_up_links .table_courses table,
.content_profile_student .courses_student .table_links table,
.content_profile_student .courses_student .table_courses table {
  width: 100%;
  text-align: center;
}
.content_profile_student .follow_up_links .table_links table thead tr,
.content_profile_student .follow_up_links .table_courses table thead tr,
.content_profile_student .courses_student .table_links table thead tr,
.content_profile_student .courses_student .table_courses table thead tr {
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05);
          box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05);
  border-bottom: 1px solid #e9eaeb;
}
.content_profile_student .follow_up_links .table_links table thead tr th,
.content_profile_student .follow_up_links .table_courses table thead tr th,
.content_profile_student .courses_student .table_links table thead tr th,
.content_profile_student .courses_student .table_courses table thead tr th {
  color: #8094ae;
  padding: 8px 0;
  min-width: 50px;
  font-size: 15px;
}
.content_profile_student .follow_up_links .table_links table thead tr th:nth-child(1),
.content_profile_student .follow_up_links .table_courses table thead tr th:nth-child(1),
.content_profile_student .courses_student .table_links table thead tr th:nth-child(1),
.content_profile_student .courses_student .table_courses table thead tr th:nth-child(1) {
  border-radius: 5px;
}
.content_profile_student .follow_up_links .table_links table thead tr th:last-child,
.content_profile_student .follow_up_links .table_courses table thead tr th:last-child,
.content_profile_student .courses_student .table_links table thead tr th:last-child,
.content_profile_student .courses_student .table_courses table thead tr th:last-child {
  border-radius: 5px;
}
.content_profile_student .follow_up_links .table_links table tbody tr,
.content_profile_student .follow_up_links .table_courses table tbody tr,
.content_profile_student .courses_student .table_links table tbody tr,
.content_profile_student .courses_student .table_courses table tbody tr {
  background-color: white;
}
.content_profile_student .follow_up_links .table_links table tbody tr:not(:last-child),
.content_profile_student .follow_up_links .table_courses table tbody tr:not(:last-child),
.content_profile_student .courses_student .table_links table tbody tr:not(:last-child),
.content_profile_student .courses_student .table_courses table tbody tr:not(:last-child) {
  border-bottom: 1px solid #e9eaeb;
}
.content_profile_student .follow_up_links .table_links table tbody tr td,
.content_profile_student .follow_up_links .table_courses table tbody tr td,
.content_profile_student .courses_student .table_links table tbody tr td,
.content_profile_student .courses_student .table_courses table tbody tr td {
  color: #8094ae;
  padding: 8px 0;
  min-width: 50px;
  font-size: 14px;
}
.content_profile_student .follow_up_links .table_links table tbody tr td:nth-child(1),
.content_profile_student .follow_up_links .table_courses table tbody tr td:nth-child(1),
.content_profile_student .courses_student .table_links table tbody tr td:nth-child(1),
.content_profile_student .courses_student .table_courses table tbody tr td:nth-child(1) {
  color: #0d6efd;
  border-radius: 5px;
}
.content_profile_student .follow_up_links .table_links table tbody tr td:last-child,
.content_profile_student .follow_up_links .table_courses table tbody tr td:last-child,
.content_profile_student .courses_student .table_links table tbody tr td:last-child,
.content_profile_student .courses_student .table_courses table tbody tr td:last-child {
  border-radius: 5px;
  color: #ffc368;
}
.content_profile_student .follow_up_links .table_links table tbody tr td .contact,
.content_profile_student .follow_up_links .table_courses table tbody tr td .contact,
.content_profile_student .courses_student .table_links table tbody tr td .contact,
.content_profile_student .courses_student .table_courses table tbody tr td .contact {
  padding: 3px 10px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 13px;
}
.content_profile_student .follow_up_links .table_links table tbody tr td .contact.active,
.content_profile_student .follow_up_links .table_courses table tbody tr td .contact.active,
.content_profile_student .courses_student .table_links table tbody tr td .contact.active,
.content_profile_student .courses_student .table_courses table tbody tr td .contact.active {
  background-color: #c8f2d1;
  color: #37d159;
}
.content_profile_student .follow_up_links .table_links table tbody tr td .contact.offline,
.content_profile_student .follow_up_links .table_courses table tbody tr td .contact.offline,
.content_profile_student .courses_student .table_links table tbody tr td .contact.offline,
.content_profile_student .courses_student .table_courses table tbody tr td .contact.offline {
  background-color: #ffd4cb;
  color: #ff6746;
}
.content_profile_student .courses_student {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content_profile_student {
    margin-top: 10px;
  }
  .content_profile_student .head_profile_student {
    padding: 10px 10px 0;
    margin-bottom: 10px;
  }
  .content_profile_student .head_profile_student .background_head {
    height: 100px;
  }
  .content_profile_student .head_profile_student .main_details {
    gap: 15px;
  }
  .content_profile_student .head_profile_student .main_details img {
    width: 80px;
    height: 80px;
  }
  .content_profile_student .head_profile_student .main_details .text h4 {
    font-size: 16px;
  }
  .content_profile_student .head_profile_student .main_details .text span {
    font-size: 12px;
  }
  .content_profile_student .head_profile_student .main_details .text:nth-child(3) {
    display: none;
  }
  .content_profile_student .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .content_profile_student .line .left,
.content_profile_student .line .right {
    width: 100%;
  }
  .content_profile_student .info_details_profile .head_info {
    padding: 10px;
  }
  .content_profile_student .info_details_profile .head_info h4 {
    font-size: 18px;
  }
  .content_profile_student .info_details_profile .profile_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .content_profile_student .info_details_profile .bio.handle_width,
.content_profile_student .info_details_profile .Personal_information.handle_width {
    width: 100%;
  }
  .content_profile_student .info_details_profile .bio {
    padding: 5px 10px;
    margin-top: 10px;
  }
  .content_profile_student .info_details_profile .bio h5 {
    margin-bottom: 2px;
    font-size: 17px;
  }
  .content_profile_student .info_details_profile .bio p {
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 0;
  }
  .content_profile_student .info_details_profile .Personal_information {
    padding: 10px;
  }
  .content_profile_student .info_details_profile .Personal_information h5 {
    font-size: 17px;
    margin-bottom: 8px;
  }
  .content_profile_student .info_details_profile .Personal_information .item {
    margin-bottom: 7px;
    gap: 10px;
  }
  .content_profile_student .info_details_profile .Personal_information .item h6 {
    font-size: 15px;
  }
  .content_profile_student .info_details_profile .Personal_information .item span {
    font-size: 14px;
  }
  .content_profile_student .follow_up_links .head_links,
.content_profile_student .follow_up_links .head_courses,
.content_profile_student .courses_student .head_links,
.content_profile_student .courses_student .head_courses {
    padding: 10px;
  }
  .content_profile_student .follow_up_links .head_links h4,
.content_profile_student .follow_up_links .head_courses h4,
.content_profile_student .courses_student .head_links h4,
.content_profile_student .courses_student .head_courses h4 {
    font-size: 18px;
  }
  .content_profile_student .follow_up_links .table_links,
.content_profile_student .follow_up_links .table_courses,
.content_profile_student .courses_student .table_links,
.content_profile_student .courses_student .table_courses {
    padding: 1px;
    margin-top: 5px;
    overflow: auto;
  }
  .content_profile_student .follow_up_links .table_links table,
.content_profile_student .follow_up_links .table_courses table,
.content_profile_student .courses_student .table_links table,
.content_profile_student .courses_student .table_courses table {
    overflow: auto;
  }
  .content_profile_student .follow_up_links .table_links table thead tr th,
.content_profile_student .follow_up_links .table_courses table thead tr th,
.content_profile_student .courses_student .table_links table thead tr th,
.content_profile_student .courses_student .table_courses table thead tr th {
    font-size: 14px;
    min-width: 120px;
  }
  .content_profile_student .follow_up_links .table_links table tbody tr td,
.content_profile_student .follow_up_links .table_courses table tbody tr td,
.content_profile_student .courses_student .table_links table tbody tr td,
.content_profile_student .courses_student .table_courses table tbody tr td {
    font-size: 13px;
    min-width: 100px;
  }
  .content_profile_student .follow_up_links .table_links table tbody tr td .contact,
.content_profile_student .follow_up_links .table_courses table tbody tr td .contact,
.content_profile_student .courses_student .table_links table tbody tr td .contact,
.content_profile_student .courses_student .table_courses table tbody tr td .contact {
    padding: 3px 7px;
    border-radius: 11px;
    font-size: 10px;
  }
}