$primary-color: #1362fc;
$dark-text: #324664;

// start navbar
.navbar_section {
  padding: 10px 20px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    .icon_sidebar {
      font-size: 22px;
      cursor: pointer;
    }

    .logo {
      h3 {
        font-size: 1.875rem;
        font-weight: 700;
        color: $dark-text;
        margin-bottom: 0;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 30px;

    .dropdown_lang {
      transition: all 0.3s;
      padding: 3px;
      border-radius: 5px;

      &:hover {
        background-color: rgb(233, 233, 233);
      }

      button {
        border: none;
        background-color: transparent;
        background-color: $primary-color;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
          display: none;
        }

        i {
          font-size: 20px;
          color: white;
        }
      }

      .dropdown-menu {
        li {
          a {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img {
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .dropdown_profile {
      padding: 3px;
      border-radius: 5px;

      &:hover {
        background-color: rgb(233, 233, 233);
      }

      button {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 10px;

        &:after {
          display: none;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .text {
          h5 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0;
          }

          span {
            font-size: 12px;
            transform: translateY(-3px);
            display: block;
            color: gray;
          }
        }
      }

      .dropdown-menu {
        li {
          a {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 13px;
            font-weight: 500;

            i {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar_section {
    padding: 6px 10px;

    .left {
      .icon_sidebar {
        font-size: 18px;
      }

      .logo {
        display: none;
      }
    }

    .right {
      gap: 15px;

      .dropdown_lang {
        button {
          i {
            font-size: 17px;
          }
        }
      }

      .dropdown_profile {
        button {
          font-size: 14px;

          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
// end navbar
