// start add_section
.add_section {
  background-color: white;
  border: 1px solid #cfcfcf;
  margin: 10px;

  .head {
    padding: 15px;
    border-bottom: 2px solid #cfcfcf;

    h3 {
      font-size: 16px;
      color: #0d6efd;
      margin-bottom: 0;
      position: relative;
      width: fit-content;

      &::before {
        content: "";
        position: absolute;
        right: -15px;
        bottom: -17px;
        width: 130%;
        height: 2px;
        background-color: #0d6efd;
      }
    }
  }

  form {
    padding: 15px;

    .row {
      padding-bottom: 30px;
      border-bottom: 1px solid #cfcfcf;

      .input_item {
        margin-bottom: 15px;

        label {
          font-weight: 500;
          margin-bottom: 5px;
        }
      }
    }

    .btns {
      padding: 15px 0 0;
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .add_section {
    margin: 6px;

    .head {
      padding: 7px;

      h3 {
        font-size: 15px;

        &::before {
          right: -7px;
          bottom: -9px;
        }
      }
    }

    form {
      padding: 7px;

      .row {
        padding-bottom: 10px;

        .input_item {
          margin-bottom: 6px;

          label {
            margin-bottom: 3px;
            font-size: 14px;
          }

          input {
            padding: 0;
            font-size: 15px;
          }
        }
      }

      .btns {
        padding: 6px 0 0;

        button {
          font-size: 13px;
          line-height: 13px;
          padding: 7px;
        }
      }
    }
  }
}
// end  add_section
