$primary-color: #1362fc;
$dark-text: #324664;

// start head select table
.head_select_table {
  margin-bottom: 25px;
  background-color: white;
  color: $dark-text;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .item {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    position: relative;
    padding: 15px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      display: none;
    }

    &.active {
      &::before {
        display: block;
      }

      span,
      i {
        color: $primary-color;
      }
    }

    &:hover {
      span,
      i {
        color: $primary-color;
      }
    }

    span {
      font-size: 19px;
      font-weight: 600;
    }

    i {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .head_select_table {
    margin-bottom: 0px;

    .item {
      padding: 9px 0;

      span {
        font-size: 14px;
      }
      i {
        font-size: 13px;
      }
    }
  }
}
// end head select table

// start table_container
.table_container {
  height: 100%;

  &.subscribers_table_container,
  &.unsubscribers_table_container,
  &.rejected_table_container {
    height: auto;
    display: none;

    &.active {
      display: block;
    }
  }

  .content {
    .toolbar_table {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(26, 26, 26);
      color: white;
      display: none;

      p {
        margin-bottom: 0;
        padding: 0 10px;
      }

      .btns {
        display: flex;
        align-items: center;

        .btn_filter,
        .btn_relaod {
          padding: 7px;
          font-size: 20px;
          border: 1px solid white;
          cursor: pointer;
          position: relative;

          &::before {
            position: absolute;
            bottom: -35px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(169, 169, 169);
            border-radius: 5px;
            padding: 5px;
            font-size: 14px;
            transition: all 0.3s;
            opacity: 0;
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }

        .btn_filter {
          &::before {
            content: "تصفيه";
          }
        }

        .btn_relaod {
          &::before {
            content: "تحميل";
          }
        }
      }
    }

    .head_tabel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      padding: 15px 10px;

      .btn_add {
        background-color: $primary-color;
        color: white;
        font-weight: 600;
        padding: 7px 20px;
        border-radius: 4px;
        border: none;
      }

      .info_head_table {
        display: flex;
        align-items: center;
        gap: 15px;

        .btn_filter {
          background-color: $primary-color;
          color: white;
          font-weight: 600;
          padding: 6px 20px;
          border-radius: 4px;
          border: none;
          display: flex;
          align-items: center;
          gap: 5px;

          i {
            font-size: 16px;
          }
        }

        .btn_collage,
        .btn_export {
          background-color: $dark-text;
          color: white;
          font-weight: 600;
          padding: 6px 20px;
          border-radius: 4px;
          border: none;
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 15px;

          i {
            font-size: 15px;
          }
        }

        .btn_collage {
          min-width: 140px;
        }
      }

      .search_input {
        border: 1px solid #c9cfd6;
        display: flex;
        width: 100%;
        max-width: 300px;
        border-radius: 5px;
        background: white;

        input {
          border: none;
          outline: none;
          padding: 0 10px;
          width: 100%;
          background-color: transparent;
        }

        span {
          padding: 6px 10px;

          i {
            color: #8094ae;
          }
        }
      }
    }

    table {
      width: 100%;
      text-align: center;

      thead {
        tr {
          background-color: white;
          box-shadow: 0px 1px 3px 0px rgba(54, 74, 99, 0.05);
          border-bottom: 1px solid #e9eaeb;

          th {
            color: #8094ae;
            padding: 10px 0;
            min-width: 50px;

            &:nth-child(1) {
              border-radius: 5px;
            }

            &:last-child {
              border-radius: 5px;
            }

            input[type="checkbox"] {
              width: 15px;
              height: 15px;
            }
          }
        }
      }

      tbody {
        tr {
          background-color: white;

          &.select {
            background-color: #8bbaff;
            color: white;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #e9eaeb;
          }

          td {
            color: #8094ae;
            padding: 10px 0;
            min-width: 50px;

            &:nth-child(1) {
              color: #0d6efd;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            &:nth-last-child(2) {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              color: #ffc368;
            }

            input[type="checkbox"] {
              width: 15px;
              height: 15px;
            }

            .contact {
              padding: 3px 10px;
              border-radius: 50px;
              font-weight: 500;
              font-size: 13px;

              &.active {
                background-color: #c8f2d1;
                color: #37d159;
              }

              &.offline {
                background-color: #ffd4cb;
                color: #ff6746;
              }
            }

            .btns_actions {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
            }

            .btn_accept,
            .btn_remove,
            .btn_export {
              background-color: transparent;
              border: none;
            }

            .btn_accept {
              color: #37d159;

              i {
                font-size: 18px;
              }
            }

            .btn_remove {
              color: rgb(220, 2, 20);

              i {
                font-size: 18px;
              }
            }

            .btn_export {
              color: $dark-text;

              i {
                font-size: 18px;
              }
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      margin-top: 10px;
      background-color: white;
      border-radius: 5px;

      p {
        margin-bottom: 0;
        font-size: 15px;
        color: gray;
      }

      .btns {
        display: flex;
        align-items: center;
        button {
          border: none;
          background-color: transparent;
          color: #0d6efd;
          font-weight: 500;
          font-size: 16px;
          padding: 0px 10px;
          border-radius: 3px;

          &.active {
            background-color: #0d6efd;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .table_container {
    padding: 8px;

    &.unsubscribers_table_container {
      margin-top: 20px;
    }

    .content {
      .head_section {
        h4 {
          margin-bottom: 6px;
        }
      }

      .head_tabel {
        flex-direction: column;
        gap: 10px;
        padding: 7px;

        .btn_add {
          font-size: 13px;
          padding: 4px 15px;
          width: 100%;

          i {
            font-size: 13px;
          }
        }

        .dropdown_operations {
          width: 100%;

          button {
            width: 100%;
            font-size: 15px;
            padding: 3px;
            border-radius: 4px;
          }
        }

        .search_input {
          max-width: 100%;

          input {
            font-size: 15px;
          }

          span {
            padding: 2px 8px;
            font-size: 15px;
          }
        }

        .info_head_table {
          gap: 5px;
          flex-direction: column;
          width: 100%;

          button {
            width: 100% !important;
            justify-content: center !important;
            font-size: 13px !important;
            padding: 4px 15px !important;

            i {
              font-size: 13px !important;
            }
          }
        }
      }

      .scroll_table {
        overflow-x: auto;
        width: 100%;

        table {
          overflow-x: auto;

          thead {
            tr {
              th {
                padding: 4px 0;
                font-size: 15px;
              }
            }
          }

          tbody {
            tr {
              td {
                padding: 8px 0;
                font-size: 14px;
                min-width: 150px;
              }
            }
          }
        }
      }

      .pagination {
        padding: 7px;

        p {
          font-size: 12px;
        }

        .btns {
          button {
            font-size: 12px;
            padding: 0px 8px;
          }
        }
      }
    }
  }
}
// end table_container
