$primary-color: #1362fc;
$dark-text: #324664;

// start head_section
.head_section {
  color: $dark-text;
  margin-top: 15px;
}
// end head_section

// start content_profile
.content_profile {
  margin: 20px;
  display: flex;
  gap: 40px;

  .left {
    width: 35%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;

    .main_info {
      text-align: center;
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      h5 {
        font-size: 22px;
        margin-bottom: 0;
        color: $dark-text;
      }

      span {
        color: $dark-text;
        font-size: 15px;
      }

      .more_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        p {
          margin-bottom: 0;
          color: $dark-text;
          font-size: 15px;
        }
      }

      .btns {
        margin-top: 20px;

        button {
          border: none;
          background-color: transparent;
          color: white;
          padding: 8px 20px;
          border-radius: 8px;
        }

        .btn_main {
          background-color: $primary-color;

          &.remove {
            display: none;
          }
        }

        .btn_info {
          background-color: $dark-text;

          &.remove {
            display: none;
          }
        }
      }
    }
  }

  .right {
    width: 65%;
    background-color: white;
    border-radius: 10px;

    h4 {
      font-size: 22px;
      margin-bottom: 0;
      border-bottom: 1px solid #dadada;
      color: $dark-text;
      padding: 15px;
    }

    form {
      padding: 15px;

      &.change_password {
        display: none;

        &.active {
          display: block;
        }
      }

      .input_item {
        margin-bottom: 10px;

        label {
          font-weight: 500;
          color: $dark-text;
          margin-bottom: 4px;
        }

        input {
          width: 100%;
          padding: 6px;
          border-radius: 6px;
          border: 1px solid #dadada;
        }
      }

      .btn_update {
        border: none;
        background-color: $primary-color;
        border-radius: 5px;
        color: white;
        padding: 5px 20px;
        font-weight: 500;
        display: none;

        &.active {
          display: inline-block;
        }
      }

      .btn_change {
        border: none;
        background-color: $primary-color;
        border-radius: 5px;
        color: white;
        padding: 5px 20px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .head_section {
    margin-top: 0;

    h3 {
      font-size: 20px;
    }
  }
  .content_profile {
    margin: 0;
    gap: 20px;
    flex-direction: column;

    .left,
    .right {
      width: 100%;
    }

    .left {
      padding: 10px;

      .main_info {
        img {
          width: 110px;
          height: 110px;
          margin-bottom: 5px;
        }

        h5 {
          font-size: 19px;
        }

        > span {
          font-size: 13px;
          transform: translateY(-5px);
          display: block;
        }

        .more_info {
          gap: 10px;
          margin-top: 0;

          p {
            font-size: 13px;
          }
        }

        .btns {
          margin-top: 5px;

          button {
            padding: 4px 15px;
            font-size: 12px;
            border-radius: 8px;
          }
        }
      }
    }

    .right {
      h4 {
        font-size: 16px;
        padding: 10px;
      }

      form {
        padding: 9px;

        .input_item {
          margin-bottom: 5px;

          label {
            font-size: 14px;
          }

          input {
            padding: 4px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
// end content_profile
