@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

// start main
main {
  min-height: calc(100vh - 67px);
  height: 100%;

  > .content {
    display: flex;
    height: 100%;
    min-height: calc(100vh - 67px);

    > .left {
      width: 18%;
      transition: all 0.3s;

      &.close {
        width: 0%;
      }
    }

    > .right {
      width: 87%;
      transition: all 0.3s;
      background: #eff1f6;
      padding: 15px;

      &.scale {
        width: 100%;
      }
    }
  }
}

@media (max-width: 991px) {
  main {
    position: relative;
    > .content {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(9 9 9 / 60%);
        z-index: 5;
        display: none;
      }

      &.open-shadow {
        &::before {
          display: block;
        }
      }

      > .left {
        width: 0;
        position: absolute;
        top: 0;
        right: -100%;
        height: 100%;
        z-index: 10;

        &.close {
          width: 30%;
          right: 0;
        }
      }

      > .right {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  main {
    .content {
      > .left {
        &.close {
          width: 250px;
        }
      }
    }
  }
}
// end main

// dropdown-menu

.dropdown {
  .dropdown-menu {
    text-align: right;
  }
}
